ion-content {
    --ion-background-color: #0e1d31;
}

ion-button {
    --ion-color-primary: #ffd200;
    margin: 3%;
}

ion-title {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#linkSleepData, #linkSleepinessData {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    justify-content: center; 
}

#currentTime {
    display: flex;
    justify-content: center;
  }

#currentTime h1{
    font-size: 3em;
}

#sleepData h2{
    font-size: 2em;
}

#sleepinessData h2{
    font-size: 2em;
}

#currentDate{
    display: flex;
    justify-content: center; 
}

#homeButton{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    justify-content: center; 
}